<div class="row">
  <div class="col-md-3">
    <img src="http://img3.douban.com/lpic/s4119451.jpg" alt="beautify album">
      <div class="caption">
        <h3>Song Title</h3>
        <p>singer</p>
      </div>
      <div id="player">
        <div id="play" style="display: block" onclick="play()"></div>
        <div id="pause" style="display: none" onclick="pause()"></div>
        <div id="progress_bg"></div>
        <div id="progress"></div>
        <div id="progress_indicator" draggable="true"></div>
        <div id="casticonactive" style="display: block"></div>
        <div id="casticonidle" style="display: none"></div>
        <div id="audio_on"></div>
        <div id="audio_off"></div>
        <div id="duration">00:00:00</div>
      </div>
  </div>
</div>
<div style="display:none">
  <audio id="#html5audio"/>
</div>
